_headers
.assetsignore
.wrangler
wrangler.jsonc
fonts
icons
images
*.jpg
goatcounter.*.js
sheets.*.js
sheets.*.css
404.*
sheets.webmanifest
service-worker.js
apple-touch-icon.png
favicon.*
robots.txt
sitemap.xml
